@charset "utf-8";
pre{
	white-space: pre-wrap;
	word-wrap: break-word;
}
.infomain{
	width:800px;
}
.jianjietext{
	height: 40px;
	width: 800px;
	font-size: 22px;
}
.infomaintext{
	width:800px;
}
.hr{
	width:100%;
	height: 20px;
	float: left;
	
}
.updtext{
	height: 40px;
	width: 800px;
	font-size: 12px;
	margin-top: 20px;
}