 @charset "utf-8";
div{
	display: block;
}
.rightMain{
	height: 900px;
	width:696px;
	float: left;
	background-color: #ffffff;
	margin-left: 5px;
}
.rightMainCenter{
 	height: 900px;
	width:696px;
	float: left;
}
 .hr{
	width:100%;
	height: 20px;
	float: left;
	
}
.rightPart{
	height: 290px;
	width: 320px;
	margin-left: 5px;
	float: left;
	border-right: 3px solid #f3f3f3;
	background-image: url("../img/rightpart4.png");
	background-size: 100% 100%;
	-moz-background-size:100% 100%;
  	-webkit-background-size:100% 100%;
  	-o-background-size:100% 100%;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://localhost:8080/sddlawyer/img/rightpart4.png',sizingMethod='scale');
	padding-top: 12px;
	padding-left: 15px;
	margin-top: 3px;
}
.partTitle{
	height: 20px;
	width: 320px;
	margin: 0 auto;
}
.partTitleImg{
	height: 20px;
	width: 20px;
	float: left;
}
.partTitleText{
	height: 16px;
	width: 80px;
	float: left;
	font-family: 微软雅黑;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
	text-align: left;
	margin-left: 4px;
}
.partTitleText a:link{
	color: #046BBC;
	text-decoration:none;
}
.partTitleText a:visited{
	color: #046BBC;
	text-decoration:none;
}
.partTitleText a:hover{
	color: #046BBC;
	text-decoration:none;
}
.partTitleText a:active{
	color: #046BBC;
	text-decoration:none;
}
.partMainTitleText a:link { 
	color:black; 
	text-decoration:none; 
}
.partMainTitleText a:VISITED { 
	color:black; 
	text-decoration:none; 
}
.partMainTitleText a:HOVER { 
	color:#046BBC; 
	text-decoration:none; 
}
.partMainTitleText a:ACTIVE { 
	color:#046BBC; 
	text-decoration:none; 
} 
.partMain{
	height: 260px;
	width:320px;
	margin-top: 10px;
}
.partMainTitleText{
	height: 15px;
	width: 310px;
	text-align: left;
	float: left;
}
.partMainDateText{
	height: 30px;
	width: 70px;
	text-align: right;
	font-size: 10px;
	float: left;
}

.hr{
	width:100%;
	float: left;
	
}








